
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    height: 75px;   
    align-items: center ;
}
.nav-logo img{
    height: 80px;   
    width: 100%;  
    /* background-color: red; */
}
.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    margin-top: 8px;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #FF4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 150px;
    height: 45px;
    outline: none;
    border: 1px solid #7a7a7a;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    border-radius: 75px;
}
.nav-login-cart img{
    height: 35px;
}
.nav-login-cart button:active{
    background: #e1dede;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left:-58px ;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-dropdown{
    display: none;
}


@media (max-width:1280px) {
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo{
        width: 200px;
    }
    .nav-logo p{
        font-style: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    
    
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media (max-width:1024px) {
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-logo img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
    
   
}
@media (max-width:800px) {
    .navbar{
        padding: 10px 0;

    }
    .nav-dropdown{
       display: block;
       width: 40px;
       height: 40px;
       rotate: -90deg;
       transition: 0.5s;
        
    }
    .nav-login-cart img{
        height: 70%;
        width: 70%;
    }
    .nav-logo img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
    .nav-menu{
        display: none;
        height: 70px;
        font-size: 15px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 70px;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
    .nav-cart-count{
        margin-left: -53px;
        font-size: 15px;
    }
}
@media (max-width:500px) {
    .navbar{
        width: 80px 0;
        gap: 0;
    }
    .nav-dropdown{
        width: 6.5%;
        height: 37%;
        margin-right: 30px;
    }
    .nav-logo img{
        width: 170px;
    
    }
    .nav-login-cart{
        transform: scale(0.9);
        
    }
}